{:source-path
 ["src"]

 :dependencies
 [[com.taoensso/telemere "1.0.0-beta1"]]

 :nrepl {:port 1220}
 :http {:port 1221
        :root "public"}
 :socket-repl  {:port 20006}


 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"
        :modules {:main {:entries [bud.example]}}

        :devtools {:http-root   "public"
                   :http-port   3002
                   :reload-strategy :full}}}}
